#!/bin/bash
kubeadm join 192.168.56.10:6443 --token m4pdh4.qf7twwe0adh5aqua --discovery-token-ca-cert-hash sha256:a1dfabb03d7d803bcd9ebc9df3e6988ba5a5bf72cb34eba3c6910e366446b277  --apiserver-advertise-address={{ apiserver_advertise_address }} --discovery-token-unsafe-skip-ca-verification --ignore-preflight-errors=all --cri-socket unix:///run/containerd/containerd.sock
