apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: stable
apiServer:
  certSANs:
  - "192.168.56.101"
  - "192.168.56.10"
controlPlaneEndpoint: "192.168.56.101:6443"
networking:
  podSubnet: 172.16.1.0/16
etcd:
  external:
    endpoints:
    - https://192.168.56.20:2379
    caFile: /etc/kubernetes/pki/etcd/ca.crt
    certFile: /etc/kubernetes/pki/etcd/client.crt
    keyFile: /etc/kubernetes/pki/etcd/client.key