#!/bin/bash
kubeadm join 192.168.56.101:6443 --token 8frn71.xueedz94isp48tea --discovery-token-ca-cert-hash sha256:1a05e3239c47fe072f4e0ef2afe7bba63ad13c59e6ec07b74cd792a9be4f6ba5  --apiserver-advertise-address={{ apiserver_advertise_address }} --discovery-token-unsafe-skip-ca-verification --ignore-preflight-errors=all --cri-socket unix:///run/containerd/containerd.sock
